<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News-Harbour</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <nav>
        <div class="main-nav container flex">
            <div class="logo-container">
                <a href="#" class="nh-logo">
                    <img src="../static/images/logo.png" alt="News-Harbour">
                </a>
            </div>
            <div class="nav-menu">
                <ul class="flex">
                    <li class="hover-link nav-item" id="sports">Sports</li>
                    <li class="hover-link nav-item" id="politics">Politics</li>
                    <li class="hover-link nav-item" id="science">Science</li>
                </ul>
            </div>
        </div>
    </nav>

    <main></main>

    <script src="/static/js/main.js"></script>
</body>
</html>