<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team</title>
    <link rel="shortcut icon" href="../static/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/team_styles.css">
</head>
<body>
    <div class="container team-container">
        <div class="team-member">
            <img src="../static/images/karthik_img.jpeg" alt="Team Member 1">
            <div class="team-member-content">
                <h2>A Karthik Shenoy</h2>
                <p>GitHub: <a href="https://github.com/karts13">github.com/karts13</a></p>
                <p>LinkedIn: <a href="https://www.linkedin.com/in/a-karthik-shenoy/">linkedin.com/in/a-karthik-shenoy</a></p>
            </div>
        </div>
        
        <div class="team-member">
            <img src="../static/images/aaron_img.jpeg" alt="Team Member 2">
            <div class="team-member-content">
                <h2>Aaron Nazareth</h2>
                <p>GitHub: <a href="https://github.com/aaronn27">github.com/aaronn27</a></p>
                <p>LinkedIn: <a href="https://www.linkedin.com/in/aaron-n27/">linkedin.com/in/aaron-n27</a></p>
            </div>
        </div>
        
        <div class="team-member">
            <img src="../static/images/tejas_img.jpeg" alt="Team Member 3">
            <div class="team-member-content">
                <h2>K Tejas Pai</h2>
                <p>GitHub: <a href="https://github.com/TejasPai03">github.com/TejasPai03</a></p>
                <p>LinkedIn: <a href="https://www.linkedin.com/in/tejas-pai03/">linkedin.com/in/tejas-pai03</a></p>
            </div>
        </div>    
    </div>
</body>
</html>
